body{
  margin: 0;
  background-color: rgb(226, 226, 226);
}
  p{
    font-family: arial;
    
  }
  .first-header {
    display: flex;
    text-align: center;
    justify-content: space-between;
    font-size: 25px;
    gap: 10px;
    background-color: rgb(1, 53, 53);
    padding-left: 20px;
  }
  .two-first-header {
    display: flex;
    gap: 40px;
    height: 30px;
    margin-right: 40px;
    padding-top: 35px;
  }
  .button {
    width: 80px;
    border-radius: 10px;
    border: none;
    background-color: rgb(1, 82, 82);
    color: rgb(211, 211, 211);
    cursor: pointer;
  }
  .h6 {
    color: rgb(211, 211, 211);
  }
  .second-header{
   height: 400px;
    display: flex;
    align-items: center;
text-align: center;
justify-content: center;
font-size: 32px;
background-color:rgb(211, 211, 211);

  }
  .image-next{
    margin-right: 30px;
  }
.third-header{
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  background-color: rgb(143, 90, 12);
  height: 380px;
  align-items: center;
}
.third-img{
  padding: 55px;


}
.img{
  height: 220px;
}
.text{
  justify-content: center;
  text-align: center;
  font-size:25px ;
  
}
.last-header{
  font-size: 20px;
  justify-content:center;
  text-align: center;
  align-items: center;
  background-color: rgb(0, 0, 36);
  color: rgb(184, 180, 180);
  height: 20px;
margin-top: 100px;

  
  


}
